#root {
	max-width: 1280px;
	margin: 0 auto;
	/*padding: 2rem;*/
	text-align: center;
}

/* Main */
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	/*position: absolute;*/
	border: 1px solid blue;

}

.headerList {
	display: flex;
	gap: 1rem;
}

/* Form */
.formContainer {
	width: 30rem;
	border: 1px solid grey;
	border-radius: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.formField {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	gap: 0.4rem;
}

.formInput {
	width: 97%;
}

.Button1 {
	margin: 0 0 1rem;
	background-color: lightgrey;
}

/* Dashboard */
.dashboard-hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid blue;
	height: 100vh;
}

.create-room {
	margin-top: 2rem;
}
